/*Tags styles */

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  line-height: 24px;
  background: #fff;
}

ul {
  list-style-type: none;
}

/* Header styles */

.logo-web {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 117%;
  color: #4d5ae5;
  text-decoration: none;
}

.logo-studio-header {
  color: #2e2f42;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.main-nav-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.main-nav-list:hover,
.main-nav-list:focus,
.logo-web:hover,
.logo-web:focus,
.logo-studio-header:hover,
.logo-studio-header:focus,
.logo-studio-footer:hover,
.logo-studio-footer:focus,
address a:hover,
address a:focus {
  color: #404bbf;
}

.contact-info {
  font-style: normal;
}

.contact-info-item {
  letter-spacing: 0.02em;
  color: #434455;
}

/*Hero section styles */

button {
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
}

button:hover,
button:focus {
  background: #404bbf;
}

.main-section {
  background: #2e2f42;
}

.main-title {
  font-size: 56px;
  line-height: 60px;
  line-height: 107%;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
}

/*Main sections styles */

.section-title {
  font-size: 36px;
  line-height: 40px;
  line-height: 111%;
  letter-spacing: 0.02em;
  font-weight: 500;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
}

.feature-item-title,
.portfolio-item-title,
.card-title {
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #2e2f42;
}

.feature-item-descr,
.portfolio-item-descr,
.card-descr {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

.team {
  background-color: #f4f4fd;
  text-transform: capitalize;
}
.card-title,
.card-descr,
.card {
  background-color: #ffffff;
}

/* Footer styles */

.footer {
  background-color: #2e2f42;
}

.logo-studio-footer {
  color: #f4f4fd;
}

.footer-descr {
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
